.idea/
*pyc
target/
/android/.nb-gradle/private/
.gradle
build
build_x64
build_Win32
build_Release
build_Debug
*.iml
local.properties
CMakeCache.txt
CMakeFiles/
Makefile
cmake_install.cmake
compile_commands.json
*.a
*.so
nbproject/
.env/

/samples/android/.nb-gradle/private/
